@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

*{
    box-sizing: border-box;
}

:root{
    --bg: #F1D1B5;
    --keys: #305F72;
    --buttons: #000;
}

body{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background-color: var(--bg);
}



.container{
    height: auto;
    justify-content: space-between;
    border: 2px solid rgb(0, 0, 0);
    background-color: var(--keys);
    border-radius: 2%;
}

#screen{
    background-color: var(--keys);
    height: 100px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: rgb(255, 255, 255);
}

/* #screen:hover{
    background-color: #376577;
} */

#display{
    float: right;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 30px;
    margin-right: 15px;
    font-family: 'Orbitron', sans-serif;
}

@keyframes pulsate {
    100% {
      /* Larger blur radius */
      text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 20px #0fa,
        0 0 20px #0fa,
        0 0 30px #0fa,
        0 0 40px #0fa,
        0 0 50px #0fa;
    }
    0% {
      /* Smaller blur radius */
      text-shadow:
        0 0 2px #fff,
        0 0 4px #fff,
        0 0 6px #fff,
        0 0 10px #0fa,
        0 0 5px #0fa,
        0 0 5px #0fa,
        0 0 2px #0fa,
        0 0 2px #0fa;
    }
  }

p{
    animation: pulsate 1s infinite alternate;
}


button{
    width: 24%;
    height: 90px;
    margin-left:3px;
    background-color: var(--bg);
    color: white;
    font-size: 24px;
    margin-bottom: 5px;
    border: 0px;
    border-radius: 4%;
}

.outer{
    background-color: var(--keys);
    font-weight: bolder;
}

button:hover{
    background-color: #000000;
    cursor: pointer;
    color: white;
}
button:active{
    background-color: var(--keys);
    color: var(--bg);
}


@media screen and (min-width: 480px) {
    button{
        width: 24%;
        height: 90px;
        margin-left: 1px;
        background-color: var(--bg);
        color: var(--buttons);
        font-size: 24px;
        margin-bottom: 5px;
        border-radius: 4%;
    }
    .container{
        margin-left: 20px;
        margin-right: 20px;
    }
}

#theme{
    margin-top: 20px;
    height: 50px;
    width: 140px;
    background-color: black;
    color: antiquewhite;
    border-radius: 5%;
}

#theme:hover{
    background-color: rgb(51, 51, 51);
    color: rgb(228, 255, 152);
    transition: 0.5s ease;
}
